*{
    margin:0;
}
body{
    /* align-items: center; */
    background-color: rgb(4, 4, 27);
}
.grip{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    height:75vh;
    grid-gap: 15px;
    margin: 100px;
    width: 150vh;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}
.item2{
    grid-column-start: 5;
    grid-column-end:  7 ;
    grid-row-start: 1;
    grid-row-end:  4;
}
.item3{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 9;
}
.item4, .item5{
    grid-column-start: 4;
    grid-column-end: 7;
}
.item4{
    grid-row-start: 4;
    grid-row-end: 6;
}
.item5{
    grid-row-start: 6;
    grid-row-end: 9 ;
}
.red{
    background-color: rgba(253, 61, 13, 0.781);
}
.orange{
    background-color: rgb(255, 136, 0);
}
.green{
    background-color: rgba(78, 201, 78, 0.842);
}
.blue{
    background-color: rgb(6, 194, 194);
}

header{
    background-color: black;
}
nav a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 800;
}
nav button{
    background-color: black;
    border: solid 1px aliceblue;
    padding: 15px;
    margin: 10px;
}
nav button:hover{
    background-color: rgb(233, 152, 30);
    border: none;
    padding: 15px;
    margin: 10px;
}